.mat{
  margin-left: 27px;
  font-size: 28px;
  color: rgb(111, 17, 199);
}

.example-spacer {
    flex: 1 1 auto;
  }
  .mg{
    margin-top: 9px;
    font-size: 20px;
    margin-left: 20px;
  }
  .example-container {
    width:100%;
    height:100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-sidenav{
    padding: 20px;
    cursor: pointer;
  }
  .mat-icon{
    margin-left: 27px;
    font-size: 28px;
    color: rgb(111, 17, 199);
}
.highlight{
  background-color: rgb(49, 159, 159);
}
.trip{
  margin-top: 9px;
  margin-left: 5px;
  padding: 5px;

}
  